@font-face {
  font-family: 'DMSansRegular';
  src: url('Assets/DMSans-Regular.ttf');
}

body {
  font-family: 'DMSans', sans-serif;
  font-weight: 100;
  --viewport-width: 100vw;
}

.nav-links {
  text-decoration: none;
}

.home {
  color:white
}

.contact {
  color: black;
}

.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header {
  background: url('Assets/Header Image Mobile.jpg') no-repeat top center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
