@font-face {
  font-family: 'DMSansRegular';
  src: url('Assets/DMSans-Regular.ttf');
}

body {
  font-family: 'DMSansRegular', sans-serif;
}

.header {
  background: url('Assets/Header Image.jpg') no-repeat top center ;
  height: 100vh;
  width: 100vw;
}